---
layout: page
title: 北京桌式足球社团
key: index
---

<div class="intro">
  <p>
  北京桌式足球社团是一群同样热爱桌式足球的朋友共同打造的活力社区，我们致力于推动北京及周边地区桌式足球的发展和竞技水平。作为一个自助型组织，我们鼓励每一位成员积极参与，共同为桌式足球的投入热情和力量。
  </p>
  <p>
  加入北京桌式足球社团，尽享竞技乐趣。请通过<a href="mailto:bjfoospromo+web@gmail.com">邮件联系</a>加入我们。
  </p>
  <p>Welcome to Beijing Foosball community. If you want to join us, feel free to <a href="mailto:bjfoospromo+web@gmail.com">contact via email</a>.</>
</div>

<div class="archive-main">
  <div class="archive-section">
    <div class="archive-heading">
      <a href="/info.html">资讯</a>
    </div>
    {% for item in site.data.info limit:6 %}
    <div class="archive-item">
      <div class="archive-date">{{ item.date | date:"%B %d, %Y" }}</div>
      <div class="archive-title">
        <a href="{{ item.link }}" target="_blank">
          {{ item.title }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="archive-section">
    <div class="archive-heading">
      <a href="/events.html">赛事</a>
    </div>
  {% for item in site.data.events limit:6 %}
    <div class="archive-item">
      <div class="archive-date">{{ item.date | date:"%B %d, %Y" }}</div>
      <div class="archive-title">
        <a href="{{ item.link }}" target="_blank">
          [{{ item.level }}] {{ item.name }} {{ item.date }}
        </a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
