  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Home page of Beijing Foosball Community"/>
    <title>Beijing Foosball | 北京桌式足球</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="Beijing Foosball">
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Mono&display=swap">
    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
