    <nav class="header wrapper" id="header">
      <header class="content-wrapper menu">
        <div class="menu-home">
          <a href="/">
            <img src="/assets/images/beijing-foos.png" alt="Beijing Foosball Logo" />
          </a>
        </div>
        <div class="menu-links">
          <div class="menu-item{% if page.key == "about" %}{{ " menu-active" }}{% endif %}">
            <a href="/about.html">
              <div>关于</div>
              <div class="menu-en">About</div>
            </a>
          </div>
          <div class="menu-item{% if page.key == "info" %}{{ " menu-active" }}{% endif %}">
            <a href="/info.html">
              <div>资讯</div>
              <div class="menu-en">Info</div>
            </a>
          </div>
          <div class="menu-item{% if page.key == "events" %}{{ " menu-active" }}{% endif %}">
            <a href="/events.html">
              <div>赛事</div>
              <div class="menu-en">Events</div>
            </a>
          </div>
          <div class="menu-item{% if page.key == "places" %}{{ " menu-active" }}{% endif %}">
            <a href="/places.html">
              <div>地点</div>
              <div class="menu-en">Places</div>
            </a>
          </div>
        </div>
      </header>
    </nav>
