    <nav class="header wrapper" id="header">
      <header class="content-wrapper menu">
        <div class="menu-home">
          <a href="/">
            <img src="/assets/images/beijing-foos.png" alt="Beijing Foosball Logo" />
          </a>
        </div>
        <div class="menu-links">
          <div class="menu-item{% if page.key == "about" %}{{ " menu-active" }}{% endif %}">
            <a href="/docs/about.html">
              <div>关于</div>
              <div class="menu-en">About</div>
            </a>
          </div>
          <div class="menu-item{% if page.key == "news" %}{{ " menu-active" }}{% endif %}">
            <a href="/docs/news.html">
              <div>资讯</div>
              <div class="menu-en">News</div>
            </a>
          </div>
          <div class="menu-item{% if page.key == "events" %}{{ " menu-active" }}{% endif %}">
            <a href="/docs/events.html">
              <div>赛事</div>
              <div class="menu-en">Events</div>
            </a>
          </div>
          <div class="menu-item{% if page.key == "venue" %}{{ " menu-active" }}{% endif %}">
            <a href="/docs/venue.html">
              <div>场所</div>
              <div class="menu-en">Venue</div>
            </a>
          </div>
          <div class="menu-item{% if page.key == "calendar" %}{{ " menu-active" }}{% endif %}">
            <a href="/docs/calendar.html">
              <div>日历</div>
              <div class="menu-en">Calendar</div>
            </a>
          </div>
        </div>
      </header>
    </nav>
